@font-face {
    font-family: 'zzz';
    src: url('zzz.woff') format('woff'),
         url('zzzz.woff2') format('woff2');
}

body {
    background-color: black;
}

h1 {
    color: red;
    font-family: "zzz";
}
