/*@font-face {
    font-family: 'BM Hanna Air';
    src: url('/Users/nickg./Documents/skills/programiranje/HTML/BMHannaAir-Regular.woff') format('woff'),
         url('/Users/nickg./Documents/skills/programiranje/HTML/BMHannaAir-Regular.woff2') format('woff2');
}*/

@font-face {
    font-family: 'zzz';
    src: url('https://github.com/nick3go/Vegova-sfx/blob/ef4d8dc154594fd0f9fc3aca967993dbe10f920c/zzz.woff') format('woff'),
         url('zzzz.woff2') format('woff2');
}

body {
    background-color: black;
}

h1 {
    color: red;
    font-family: "zzz";
}
